@import "tailwindcss";

@plugin 'flowbite/plugin';
@plugin '@tailwindcss/typography';

@source '../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}';

@theme inline {
    --font-sans: Inter Variable;
    --font-mono: JetBrains Mono;

    --text-xxs: 0.875rem;
    --text-3xs: 0.75rem;

    --color-accent-500: var(--accent-500);
    --color-accent-700: var(--accent-700);
    --color-accent-800: var(--accent-800);
    --color-accent-900: var(--accent-900);

    --animate-spin-once: spin 1s linear;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-180deg);
        }
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    .theme-red {
        --accent-500: theme(--color-red-500);
        --accent-800: theme(--color-red-800);
        --accent-900: theme(--color-red-900);
    }

    .theme-pink {
        --accent-500: theme(--color-pink-500);
        --accent-800: theme(--color-pink-800);
        --accent-900: theme(--color-pink-900);
    }

    .theme-rose {
        --accent-500: rgb(218, 124, 160);
        --accent-800: rgb(199, 101, 141);
        --accent-900: rgb(176, 84, 118);
    }

    .theme-violet {
        --accent-500: rgb(171, 145, 250);
        --accent-800: rgb(145, 122, 201);
        --accent-900: rgb(120, 102, 189);
    }

    .theme-purple {
        --accent-500: theme(--color-purple-500);
        --accent-800: theme(--color-purple-800);
        --accent-900: theme(--color-purple-900);
    }

    .theme-blue {
        --accent-500: theme(--color-sky-500);
        --accent-800: theme(--color-sky-800);
        --accent-900: theme(--color-sky-900);
    }

    .theme-green {
        --accent-500: theme(--color-green-500);
        --accent-800: theme(--color-green-800);
        --accent-900: theme(--color-green-900);
    }

    .theme-yellow {
        --accent-500: theme(--color-yellow-500);
        --accent-800: theme(--color-yellow-800);
        --accent-900: theme(--color-yellow-900);
    }

    .theme-orange {
        --accent-500: theme(--color-orange-500);
        --accent-800: theme(--color-orange-800);
        --accent-900: theme(--color-orange-900);
    }

    img {
        @apply inline-block;
    }
}

@utility custom-scroll {
    &::-webkit-scrollbar {
        @apply right-0! block! size-2! bg-zinc-800!;
    }
    &::-webkit-scrollbar-thumb {
        @apply rounded-md! bg-zinc-600!;
    }
    &::-webkit-scrollbar-corner {
        @apply bg-zinc-800!;
    }
}

@utility tooltip-scroll {
    &::-webkit-scrollbar {
        @apply right-0! block! size-1.5! bg-white!;
    }

    &::-webkit-scrollbar-thumb {
        @apply rounded-md! bg-zinc-300!;
    }

    &::-webkit-scrollbar-corner {
        @apply bg-zinc-300!;
    }
}

@utility tippy-box {
    &[data-theme="buff"] {
        @apply inline-block rounded-lg px-2 py-1 text-xs shadow-lg;
        @apply bg-zinc-900 text-gray-200;
    }

    &[data-theme="buff"] > .tippy-svg-arrow {
        @apply fill-zinc-900!;
    }

    &[data-theme="menu"] {
        @apply inline-block rounded-lg px-2 py-1 text-sm shadow-lg;
        @apply bg-zinc-700 text-gray-200;
    }

    &[data-theme="menu"] > .tippy-svg-arrow {
        @apply fill-zinc-700!;
    }
}

@layer components {
    * {
        -ms-overflow-style: none;
        scrollbar-width: auto;
    }
    *::-webkit-scrollbar {
        display: none;
    }
}
