@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  * {
		-ms-overflow-style: none;
    	scrollbar-width: none;
	}
	*::-webkit-scrollbar { 
		display: none;
	}
  .custom-scroll::-webkit-scrollbar, #logs-table::-webkit-scrollbar, #log-breakdown::-webkit-scrollbar, #buff-table::-webkit-scrollbar {
    @apply block right-0 w-2 h-2 bg-zinc-800;
  }
  .custom-scroll::-webkit-scrollbar-thumb, #logs-table::-webkit-scrollbar-thumb, #log-breakdown::-webkit-scrollbar-thumb, #buff-table::-webkit-scrollbar-thumb {
    @apply bg-zinc-600 rounded-md;
  }
  .custom-scroll::-webkit-scrollbar-corner, #log-table::-webkit-scrollbar-corner, #log-breakdown::-webkit-scrollbar-corner, #buff-table::-webkit-scrollbar-corner {
    @apply bg-zinc-800;
  }
}