@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-box[data-theme="buff"] {
    @apply inline-block rounded-lg px-2 py-1 text-xs shadow-lg;
    @apply bg-zinc-900 text-gray-200;
}

.tippy-box[data-theme="buff"] > .tippy-svg-arrow {
    @apply fill-zinc-900;
}

.tippy-box[data-theme="menu"] {
    @apply inline-block rounded-lg px-2 py-1 text-sm shadow-lg;
    @apply bg-zinc-700 text-gray-200;
}

.tippy-box[data-theme="menu"] > .tippy-svg-arrow {
    @apply fill-zinc-700;
}

@layer base {
    img {
        @apply inline-block;
    }
}

@layer utilities {
    .theme-red {
        --accent-500: theme("backgroundColor.red.500");
        --accent-800: theme("backgroundColor.red.700");
        --accent-900: theme("backgroundColor.red.800");
        --text-accent-500: theme("textColor.red.500");
        --fill-accent-500: theme("fill.red.500");
        --fill-accent-800: theme("fill.red.800");
        --border-accent-500: theme("borderColor.red.500");
        --accent-accent-700: theme("accentColor.red.700");
        --ring-accent-500: theme("ringColor.red.500");
    }
    .theme-pink {
        --accent-500: theme("backgroundColor.pink.500");
        --accent-800: theme("backgroundColor.pink.800");
        --accent-900: theme("backgroundColor.pink.900");
        --text-accent-500: theme("textColor.pink.500");
        --fill-accent-500: theme("fill.pink.500");
        --fill-accent-800: theme("fill.pink.800");
        --border-accent-500: theme("borderColor.pink.500");
        --accent-accent-700: theme("accentColor.pink.700");
        --ring-accent-500: theme("ringColor.pink.500");
    }
    .theme-rose {
        --accent-500: rgb(218, 124, 160);
        --accent-800: rgb(199, 101, 141);
        --accent-900: rgb(176, 84, 118);
        --text-accent-500: rgb(218, 124, 160);
        --fill-accent-500: rgb(218, 124, 160);
        --fill-accent-800: rgb(199, 101, 141);
        --border-accent-500: rgb(218, 124, 160);
        --accent-accent-700: rgb(199, 101, 141);
        --ring-accent-500: rgb(218, 124, 160);
    }
    .theme-violet {
        --accent-500: rgb(171, 145, 250);
        --accent-800: rgb(145, 122, 201);
        --accent-900: rgb(120, 102, 189);
        --text-accent-500: rgb(171, 145, 250);
        --fill-accent-500: rgb(171, 145, 250);
        --fill-accent-800: rgb(145, 122, 201);
        --border-accent-500: rgb(171, 145, 250);
        --accent-accent-700:rgb(145, 122, 201);
        --ring-accent-500: rgb(171, 145, 250);
    }
    .theme-purple {
        --accent-500: theme("backgroundColor.purple.500");
        --accent-800: theme("backgroundColor.purple.800");
        --accent-900: theme("backgroundColor.purple.900");
        --text-accent-500: theme("textColor.purple.500");
        --fill-accent-500: theme("fill.purple.500");
        --fill-accent-800: theme("fill.purple.800");
        --border-accent-500: theme("borderColor.purple.500");
        --accent-accent-700: theme("accentColor.purple.700");
        --ring-accent-500: theme("ringColor.purple.500");
    }
    .theme-blue {
        --accent-500: theme("backgroundColor.sky.500");
        --accent-800: theme("backgroundColor.sky.800");
        --accent-900: theme("backgroundColor.sky.900");
        --text-accent-500: theme("textColor.sky.500");
        --fill-accent-500: theme("fill.sky.500");
        --fill-accent-800: theme("fill.sky.800");
        --border-accent-500: theme("borderColor.sky.500");
        --accent-accent-700: theme("accentColor.sky.700");
        --ring-accent-500: theme("ringColor.sky.500");
    }
    .theme-green {
        --accent-500: theme("backgroundColor.green.500");
        --accent-800: theme("backgroundColor.green.800");
        --accent-900: theme("backgroundColor.green.900");
        --text-accent-500: theme("textColor.green.500");
        --fill-accent-500: theme("fill.green.500");
        --fill-accent-800: theme("fill.green.800");
        --border-accent-500: theme("borderColor.green.500");
        --accent-accent-700: theme("accentColor.green.700");
        --ring-accent-500: theme("ringColor.green.500");
    }
    .theme-yellow {
        --accent-500: theme("backgroundColor.yellow.200");
        --accent-800: theme("backgroundColor.yellow.400");
        --accent-900: theme("backgroundColor.yellow.500");
        --text-accent-500: theme("textColor.yellow.200");
        --fill-accent-500: theme("fill.yellow.200");
        --fill-accent-800: theme("fill.yellow.500");
        --border-accent-500: theme("borderColor.yellow.200");
        --accent-accent-700: theme("accentColor.yellow.400");
        --ring-accent-500: theme("ringColor.yellow.200");
    }
    .theme-orange {
        --accent-500: theme("backgroundColor.orange.400");
        --accent-800: theme("backgroundColor.orange.500");
        --accent-900: theme("backgroundColor.orange.600");
        --text-accent-500: theme("textColor.orange.400");
        --fill-accent-500: theme("fill.orange.400");
        --fill-accent-800: theme("fill.orange.500");
        --border-accent-500: theme("borderColor.orange.400");
        --accent-accent-700: theme("accentColor.orange.400");
        --ring-accent-500: theme("ringColor.orange.400");
    }

    .bg-accent-500 {
        background-color: var(--accent-500);
    }
    .bg-accent-800 {
        background-color: var(--accent-800);
    }
    .bg-accent-900 {
        background-color: var(--accent-900);
    }
    .text-accent-500 {
        color: var(--text-accent-500);
    }
    .fill-accent-500 {
        fill: var(--fill-accent-500);
    }
    .fill-accent-800 {
        fill: var(--fill-accent-800);
    }
    .border-accent-500 {
        border-color: var(--border-accent-500);
    }
    .accent-accent-700 {
        accent-color: var(--accent-accent-700);
    }
}

@layer components {
    * {
        -ms-overflow-style: none;
        scrollbar-width: auto;
    }
    *::-webkit-scrollbar {
        display: none;
    }

    .custom-scroll::-webkit-scrollbar,
    #logs-table::-webkit-scrollbar,
    #log-breakdown::-webkit-scrollbar,
    #buff-table::-webkit-scrollbar {
        @apply !right-0 !block !size-2 !bg-zinc-800;
    }
    .custom-scroll::-webkit-scrollbar-thumb,
    #logs-table::-webkit-scrollbar-thumb,
    #log-breakdown::-webkit-scrollbar-thumb,
    #buff-table::-webkit-scrollbar-thumb {
        @apply !rounded-md !bg-zinc-600;
    }
    .custom-scroll::-webkit-scrollbar-corner,
    #log-table::-webkit-scrollbar-corner,
    #log-breakdown::-webkit-scrollbar-corner,
    #buff-table::-webkit-scrollbar-corner {
        @apply !bg-zinc-800;
    }
}
